h2{
  text-align:center;
}
.post{
  padding:10px;
  font-family: 'Roboto', sans-serif;
  font-size:1.2rem;
}




@media (max-width: 800px) {
.logo{
width:20%;
}

.container-fluid{
background-color:rgb(240,240,240);
padding:0;
}

.card{

min-height:180px;
}

.mobile{
  display:none;
}
}
